<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/home.css" class="css">
    <title>Blog</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <h4><a href="/">Blogs</a></h4>
        </div>
    </div>

    <div class="final">
        <div class="inputform">
            <div class="form">
                <h1>Add Admin</h1>
                <form action="/addadmin" method="post">
                    <input type="text" placeholder="enter name" name="aname">
                    <input type="text" placeholder="enter gmail" name="agmail">
                    <input type="password" placeholder="enter password" name="apass">
                    <button>Add</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>